$string-name:'.col';
$string-separator:'-of-';

$margin-up: 1%;
$margin-bottom: 1%;
$margin-left: .5%;
$margin-right: .5%;

$margin-conteiner: .5%;
$width-conteiner: 100 - ($margin-conteiner * 2);


$max-width: 600px;
$cant-col: 12;
