@use 'sass:math';
@use 'gridVars' as vars;

@function calculatewidth($cant, $total, $margin: vars.$margin-left) {
  $diff: math.div($margin, $total) * ($total - $cant);
  $cuota: math.div(100 * $cant, $total);
  $result: $cuota - $diff;

  @if $result == 0 {
    @return $result;
  } @else {
    @return $result + 0%;
  }
}
