@use 'gridFunctions';
@use 'gridVars' as vars;

@mixin general-grid($up: vars.$margin-up, $right: vars.$margin-right,
                    $bottom: vars.$margin-bottom, $left: vars.$margin-left) {
  display: block;
  float: left;

  @if $up == 'no-margin' {
    margin: 0;
  } @else {
    margin: $up 0 $bottom $left;
  }

  &:first-of-type {
    margin-left: 0;
  }
}

@mixin row-of-col($margin: vars.$margin-left) {
  $iter-col: 0;
  $iter-row: 0;

  @for $iter-col from 1 to vars.$cant-col + 1 {
    $iter-row: 0;

    @for $iter-row from 1 to $iter-col + 1 {
      $class: vars.$string-name + $iter-row + vars.$string-separator + $iter-col;

      &#{$class} {
        width: gridFunctions.calculatewidth($iter-row, $iter-col, $margin);
      }
    }
  }
}
