@function calculatewidth($cant, $total, $margin: $margin-left) {
  $diff: ($margin / $total) * ($total - $cant);
  $cuota: (100 * $cant) / $total;

  $result: $cuota - $diff;

  @if $result == 0 {
    @return $result;
  } @else {
    @return $result + 0%;
  }
}
