@import 'gridVars';
@import 'gridFunctions';
@import 'gridMixins';

//CONTENEDOR DE LA GRILLA
.grid-container {
  margin: 0;
  padding: 0;
  width: 100%;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &.margin {
    margin: $margin-container;
    width: $width-container;
  }

  &:after {
    clear: both;
  }

}

.grid {
  @include general-grid;
  @include row-of-col;
}

.no-margin {
  @include general-grid('no-margin');
  @include row-of-col(0);
}

@import 'gridMediaquery';
