@import 'gridVars';
@import 'gridFunctions';
@import 'gridMixins';

//CONTENEDOR DE LA GRILLA
.grid-conteiner {
//  clear: both;
  content: '';
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;

  &.margin {
    margin: $margin-conteiner;
    width: $width-conteiner;
  }

  &:after {
    clear: both;
  }

}

.grid {
  @include general-grid;
  @include row-of-col;
}

.no-margin {
  @include general-grid('no-margin');
  @include row-of-col(0);
}

@import 'gridMediaquery';
